/TableWatchRealTimeRestaurantMonitoringSystem.rar
/YOLOv8/
/YOLOv8-New/Yolo-Weights/
/YOLOv8-New/venv/
/YOLOv8-New/.idea/
/YOLOv8-New/temp/
/YOLOv8-New/testing_images/
/YOLOv8-New/video_cases/full footage.mp4
/YOLOv8-New/video_cases/
