/TableWatchRealTimeRestaurantMonitoringSystem.rar
/YOLOv8/
/AI Monitoring System/Yolo-Weights/
/AI Monitoring System/venv/
/AI Monitoring System/.idea/
/AI Monitoring System/temp/
/AI Monitoring System/testing_images/
/AI Monitoring System/video_cases/
